<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>
		https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf
	</updateURL>
	<require_version>1.6.5</require_version>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.OrderExtensionModuleActivator</activator>
	
	<extension>
        <point>org.openmrs.admin.orders.localHeader</point>
        <class>org.openmrs.module.orderextension.web.extension.AdminList</class>
    </extension>

	<!-- Required Privileges -->
	<privilege>
		<name>View Order Sets</name>
		<description>Allows users to view and use existing of Order Sets</description>
	</privilege>
	<privilege>
		<name>Manage Order Sets</name>
		<description>Allows users to add new Order Sets, edit or retire existing Order Sets</description>
	</privilege>
	<privilege>
		<name>Delete Order Sets</name>
		<description>Allows users to delete existing Order Sets</description>
	</privilege>	
	<!-- /Required Privileges -->

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		OrderExtension.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<globalProperty>
		<property>orderextension.drugGroupClassification</property>
		<defaultValue>6273</defaultValue>
		<description>The concept for drug group classifications concept set</description>
	</globalProperty>
	
	<globalProperty>
		<property>orderextension.getIndicationConceptsToIncludeInCalendar</property>
		<defaultValue>7085</defaultValue>
		<description>A list of uuids or concepts ids for the indication concepts that should be included in the calendar</description>
	</globalProperty>
	
	<globalProperty>
		<property>orderextension.getPageRedirect</property>
		<defaultValue>/openmrs/WEB-INF/view/patientDashboardForm.jsp:/patientDashboard.form</defaultValue>
		<description>A comma separated list of requestURI and the corresponding redirect page, separated by |</description>
	</globalProperty>
	
</module>
