<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>

	<require_version>2.3.0</require_version>

	<require_modules>
		<require_module>org.openmrs.module.legacyui</require_module>
	</require_modules>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.OrderExtensionModuleActivator</activator>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.orderextension.web.extension.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>org.openmrs.module.orderextension.web.extension.RegimenTab</class>
	</extension>

	<!-- Required Privileges -->
	<privilege>
		<name>View Calendar Regimen</name>
		<description>Allows users to view regimen calendar</description>
	</privilege>
	<privilege>
		<name>Edit Current/Completed Regimen</name>
		<description>The ability to edit current completed regimens</description>
	</privilege>
	<privilege>
		<name>Patient Dashboard - View Regimen Section</name>
		<description>View the regimen tab on patient dashboard</description>
	</privilege>
	<privilege>
		<name>View Regimens</name>
		<description>View regimens</description>
	</privilege>
	<privilege>
		<name>Edit Regimen</name>
		<description>Edit regimens</description>
	</privilege>

	<!-- /Required Privileges -->

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		OrderExtension.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>orderextension.drugOrderType</property>
		<defaultValue>2</defaultValue>
		<description>The order type to use for drug orders with this module.  Primary key id, uuid, or name</description>
	</globalProperty>
	<globalProperty>
		<property>orderextension.drugGroupClassification</property>
		<defaultValue>9b81d9ce-91a3-4da6-8d19-ba6ff020f64a</defaultValue>
		<description>The concept for drug group classifications concept set</description>
	</globalProperty>
	
	<globalProperty>
		<property>orderextension.deleteDrugReasons</property>
		<defaultValue>Allergic Reaction,Stockout,Adverse event:,Other:</defaultValue>
		<description>Use ',' as separator of reasons. For the reason which will require a description, use ':' at the end of it.</description>
	</globalProperty>
	
	<globalProperty>
		<property>orderextension.deleteAllDrugReasons</property>
		<defaultValue>Suspected tumor progression,Definitive tumor progression,Severe allergic reaction,Adverse event:,Other:</defaultValue>
		<description>Use ',' as separator of reasons. For the reason which will require a description, use ':' at the end of it.</description>
	</globalProperty>
	<globalProperty>
		<property>orderextension.DrugSetReminderOnForm</property>
		<defaultValue>Chemotherapy@186,212,213,214,215,216,219</defaultValue>
		<description>Indication and formId to check when alert is needed.</description>
	</globalProperty>
	
	<globalProperty>
		<property>orderextension.DrugSetReminderMsg</property>
		<defaultValue>Please complete the DST before ordering chemotherapy.</defaultValue>
		<description>Message to be displayed as Alert.</description>
	</globalProperty>

	<globalProperty>
		<property>orderextension.drugOrderDefaultEncounterTypeUuid</property>
		<defaultValue>a9ef19d1-8875-11ea-8c74-7a7919290ad6</defaultValue>
		<description>Encounter Type to use to create a new encounter if not otherwise specified</description>
	</globalProperty>

</module>
